<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<p th:unless="${rxes} and ${rxes.size()}">No Prescriptions</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Rx #</th>
        <th>Category</th>
        <th>Doctor</th>
        <th>Doctor Phone #</th>
        <th>Doctor Website</th>
        <th>Pharmacy</th>
        <th>Pharmacy Phone #</th>
        <th>Pharmacy Website</th>
        <th>Description</th>
    </tr>

    <tr th:each="rx : ${rxes}">
        <td th:text="${rx.name}"></td>
        <td th:text="${rx.rxnum}"></td>
        <td th:text="${rx.category.name}"></td>
        <td th:text="${rx.docname}"></td>
        <td th:text="${rx.docnum}"></td>
        <td th:text="${rx.docweb}"></td>
        <td th:text="${rx.pharmname}"></td>
        <td th:text="${rx.pharmnum}"></td>
        <td th:text="${rx.pharmweb}"></td>
        <td th:text="${rx.description}"></td>
    </tr>

</table>
<a href="/rx/add">Add</a> |
<a href="/rx/remove">Remove</a>
</body>
</html>